.selected-list-item{
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    background: none;
    list-style: none;
    width: 100%;

    border-top: 0.5px solid #ecdd5e;
    border-bottom: 0.5px solid #ecdd5e;
    padding-top: 8px;
    padding-bottom: 8px;
}

.selected-list-item-div{
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly; */
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    width: 100%;
}
.selected-list-item-div-item-grid{
    text-align: center;
}